* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Georgia", serif;
}

body,
html {
   height: 100%;
}

.hero {
   position: relative;
   height: 100vh;
   background: url("/images/icons/home.jpg") center/cover no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}

.overlay {
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.35);
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
}

.top {
   text-align: center;
   padding-top: 150px;
   top: 0;
   position: fixed;
   color: #FFF;
}

.cta {
   background: rgba(68, 45, 181, 0.85);
   color: #fff;
   border: none;
   padding: 16px 60px;
   font-size: 20px;
   border-radius: 500px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.cta:hover {
   background: rgba(107, 93, 178, 0.85);
   transform: translateY(-2px);
}